# Ignore del TP de Fulbol 5

/TP-OPF5/.classpath
/TP-OPF5/.settings
/TP-OPF5/.project
/TP-OPF5/target
/TP-OPF5/bin
/TP-OPF5/src/main/generated-sources
/TP-OPF5/src/test/generated-sources
/TP-OPF5/src/main/xtend-gen
/TP-OPF5/src/test/xtend-gen
/home/utnso/DDS2014/TP-OPF5/src/main/xtend-gen
/home/utnso/DDS2014/TP-OPF5/src/test/xtend-gen

# Ignore del TP Prueba de Concepto Arena

/TP-PCARENA/.classpath
/TP-PCARENA/.settings
/TP-PCARENA/.project
/TP-PCARENA/target
/TP-PCARENA/bin
/TP-PCARENA/src/main/generated-sources
/TP-PCARENA/src/test/generated-sources
/TP-PCARENA/src/main/xtend-gen
/TP-PCARENA/src/test/xtend-gen
/home/utnso/DDS2014/TP-PCARENA/src/main/xtend-gen
/home/utnso/DDS2014/TP-PCARENA/src/test/xtend-gen

# Ignore del TP Prueba de Concepto Wicket

/TP-PCWICKET/.classpath
/TP-PCWICKET/.settings
/TP-PCWICKET/.project
/TP-PCWICKET/target
/TP-PCWICKET/bin
/TP-PCWICKET/src/main/generated-sources
/TP-PCWICKET/src/test/generated-sources
/TP-PCWICKET/src/main/xtend-gen
/TP-PCWICKET/src/test/xtend-gen
/home/utnso/DDS2014/TP-PCWICKET/src/main/xtend-gen
/home/utnso/DDS2014/TP-PCWICKET/src/test/xtend-gen

/TP-OPF5-VIEW/.classpath
/TP-OPF5-VIEW/.settings
/TP-OPF5-VIEW/.project
/TP-OPF5-VIEW/target
/TP-OPF5-VIEW/bin
/TP-OPF5-VIEW/src/main/generated-sources
/TP-OPF5-VIEW/src/test/generated-sources
/TP-OPF5-VIEW/src/main/xtend-gen
/TP-OPF5-VIEW/src/test/xtend-gen
/home/utnso/DDS2014/TP-OPF5-VIEW/src/main/xtend-gen
/home/utnso/DDS2014/TP-OPF5-VIEW/src/test/xtend-gen

