/TP-OPF5/.classpath
/TP-OPF5/.settings
/TP-OPF5/.project
/TP-OPF5/target
/TP-OPF5/bin
/TP-OPF5/src/main/generated-sources
/TP-OPF5/src/test/generated-sources
/home/utnso/DDS2014/TP-OPF5/src/main/xtend-gen
/home/utnso/DDS2014/TP-OPF5/src/test/xtend-gen
