/.Administrador.java._trace
/.Propuesta.java._trace
/.Rechazo.java._trace
/Administrador.java
/Propuesta.java
/Rechazo.java
/.propuestaBuilder.java._trace
/.PropuestaBuilder.java._trace
/.jugadorBuilder.java._trace
