/.Condicional.java._trace
/.Estandar.java._trace
/.Inscripcion.java._trace
/.Jugador.java._trace
/.Partido.java._trace
/.Solidaria.java._trace
/.TipoInscripcion.java._trace
/.mailSender.java._trace
/.Notificador.java._trace
/.AmigosObserver.java._trace
/.Infraccion.java._trace
/.MockMailSender.java._trace
/.PartidoConfirmadoObserver.java._trace
/.PartidoObserver.java._trace
/AmigosObserver.java
/Infraccion.java
/MockMailSender.java
/PartidoConfirmadoObserver.java
/PartidoObserver.java
/.MailSender.java._trace
