/.AmigosObserver.java._trace
/.Condicional.java._trace
/.Estandar.java._trace
/.Infraccion.java._trace
/.Inscripcion.java._trace
/.Jugador.java._trace
/.MockMailSender.java._trace
/.Notificador.java._trace
/.Partido.java._trace
/.PartidoConfirmadoObserver.java._trace
/.PartidoObserver.java._trace
/.Solidaria.java._trace
/.TipoInscripcion.java._trace
